/* header.css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff, #56ab2f);
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  border-bottom: 2px solid #dcdcdc;
}

.menu img {
  height: 50px;
  cursor: pointer;
}

.pesquisa {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 20px;
}

.pesquisa input {
  width: 100%;
  max-width: 900px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}

.login, .ganhadores, .meusSorteios, .produtos {
  margin: 0 10px;
}

.login a, .ganhadores a, .meusSorteios a, .produtos a {
  color: #4a90e2;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.3s;
}

.login a:hover, .ganhadores a:hover, .meusSorteios a:hover, .produtos a:hover {
  color: #2c6db2;
}

/* Ajustes adicionais para espaçamento entre os links */
header div {
  display: inline-block;
  text-align: center;
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
  header {
      flex-wrap: wrap;
      justify-content: center;
  }

  .menu img {
      margin-bottom: 10px;
  }

  .pesquisa {
      margin-bottom: 10px;
      width: 100%;
      justify-content: center;
  }

  .pesquisa input {
      width: 90%;
  }

  .login, .ganhadores, .meusSorteios, .produtos {
      margin-bottom: 5px;
  }
}
